<style>

   table {

      border-width:100% ;
      border: 1px;

    }
    td {

      padding: 8px;

      text-align: left;

      border-bottom: 1px solid #ddd;

    }

</style>
<table>
 <tr>
    <td>
        <label for="Close"></label>
        <input type="button" id="Close" value="Close" placeholder="Close" width="200%"></td>
        <td><label for="Download"></label>
        <input type="button" id="download" value="Download" placeholder="Close" width="200%">
        </td>
    
    <tr>
        <td>place of holding tech number</td>
        <td>10</td>
        </tr>
        <tr>
        <td>ISIN</td>
        <td>ANN4237C1220</td>
    </tr>
    <tr>
        <td>Security Quantity</td>
        <td>300</td>
    </tr>
    <tr>
        <td>Transaction type code</td>
        <td>TRAD</td>
    </tr>
    <tr>
        <td>Instruction type code</td>
        <td>DVP</td>
    </tr>
    <tr>
        <td>Matching Reference</td>
        <td>7.76208E+14</td>
    </tr>
    <tr>
        <td>Settlement date</td>
        <td></td>
    </tr>
    <tr>
        <td>Place of settlement</td>
        <td>MGTCDEXXX08</td>
    </tr>
    <tr>
        <td>Settlement cash amount</td>
        <td></td>
    </tr>
    <tr>
        <td>Calendar Id</td>
        <td></td>
    </tr>
    <tr>
        <td>Party Id</td>
        <td>4166786</td>
    </tr>
    <tr>
        <td>Counter party Id</td>
        <td></td>
    </tr>
    <tr>
        <td>Party role CD</td>
        <td>474567</td>
    </tr>
    <tr>
        <td>Counter party role CD</td>
        <td>987605</td>
    </tr>
    <tr>
        <td>Failing party role cd</td>
        <td>Seller</td>
    </tr>
    <tr>
        <td>Penalty amount</td>
        <td>Buyer</td>
    </tr>
    <tr>
        <td>sign</td>
        <td>seller</td>
    </tr>
    </tr>
</table>
