/* _content/Hackathon/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-r3yl5xxine] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  background-color: rgb(31, 121, 224);
}

a[b-r3yl5xxine] {
  color: #0077cc;
}

.btn-primary[b-r3yl5xxine] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-r3yl5xxine], .nav-pills .show > .nav-link[b-r3yl5xxine] {
  color: #12abdb;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-r3yl5xxine] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-r3yl5xxine] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-r3yl5xxine] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-r3yl5xxine] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-r3yl5xxine] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  margin-left: 1px;
}


.dropdown[b-r3yl5xxine] {
  position: relative;
  display: inline-block;
}

.dropbtn[b-r3yl5xxine] {
  
  
  cursor: pointer;

  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.dropdown-content[b-r3yl5xxine] {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a[b-r3yl5xxine] {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content[b-r3yl5xxine] {
  display: block;
}

#dateContainer[b-r3yl5xxine] {
  position: fixed;
  top: 10px;
  right: 10px;

  font-size: 18px;
  padding-top: 15px;
  margin-right: 15px;
}

#currentDate[b-r3yl5xxine] {
  color: #333;
}

#admin[b-r3yl5xxine] {
  position: fixed;
  top: 10px;
  padding-top: 10px;
  right: 10px;
  margin-right: 120px;
  font-size: 18px;
}
#pgborder[b-r3yl5xxine] {
  border: 20px solid #12abdb;
  padding: 10px;
}


.text-container[b-r3yl5xxine] {
  display: inline-block;
  padding: 10px;
  background-color: #12abdb;
}

.outline-box[b-r3yl5xxine] {
  display: inline-block;
  padding: 5px;
  border: 2px solid white;
  color: white;
}
.nvbg[b-r3yl5xxine] {
  background-color: #12abdb;
}

nav[b-r3yl5xxine] {
  justify-content: space-around;
  background-color: lightgray; /* Set the background color */
  padding: 10px;
  text-align: left;
  text-decoration: none;
}

nav ul[b-r3yl5xxine] {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; 
  text-decoration: none;
}

nav ul li[b-r3yl5xxine] {
  display: inline-block;
  margin: 0 10px
  
}

nav ul li a[b-r3yl5xxine] {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover[b-r3yl5xxine] {
  background-color: #fafafa; /* Set the hover background color */
  
    text-decoration: none; /* Remove underline on hover */
}

.n:hover[b-r3yl5xxine] {
  background-color: #fafafa; /* Set the hover background color */
  text-underline-offset: none;
  text-decoration: none;
  text-decoration-color: #12abdb;
}
.n[b-r3yl5xxine]{
  justify-content: space-around;
  text-decoration-color: #12abdb;
  text-underline-offset: none;
  padding: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #12abdb;
  
}
a[b-r3yl5xxine]{
  text-decoration: none;
  color: #12abdb;
}
.colr[b-r3yl5xxine]
{
  color: #12abdb;
  text-decoration: none;
}






